<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>au.com.linusk</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>06161AD2-E5AF-4897-A5C4-F67B97464BAD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>295B8FDB-D596-4CDE-9E4F-0841393BFF91</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0B25B88F-4243-4E75-983B-36D1C96F4E94</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>001DAD44-BA46-4761-ABD6-9CF450779583</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0DB6B6DE-5C65-4A52-A4F4-E615C0924FD4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>48D4C5D9-06F7-4A3B-8996-530C7CB6ED80</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>26B971E7-1202-4CC4-B7D7-5C70F289F419</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F4C2E16A-9E97-499C-80A5-00664358E3F6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>295B8FDB-D596-4CDE-9E4F-0841393BFF91</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>441220A6-FF2C-4489-8559-D61944E50D83</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>441220A6-FF2C-4489-8559-D61944E50D83</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C83C8F52-2513-4C3E-895B-790BBDB09745</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>48D4C5D9-06F7-4A3B-8996-530C7CB6ED80</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7E23687E-F87F-4B76-8D93-25489F2D25B7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>56D6FA6C-C01B-4F46-A9C7-F5A7221080F9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>26B971E7-1202-4CC4-B7D7-5C70F289F419</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>773C1EF6-D4A2-4D97-AB5F-C19BCA82ABED</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>06161AD2-E5AF-4897-A5C4-F67B97464BAD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A92E34E3-7F10-4158-B6F1-CE42AB5D2215</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AF33B579-45A2-4E5D-95B5-F2D5F3C0A16E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AF33B579-45A2-4E5D-95B5-F2D5F3C0A16E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0DB6B6DE-5C65-4A52-A4F4-E615C0924FD4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Linus Karsai</string>
	<key>description</key>
	<string>Command line interface for using keepass</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Keepass Workflow</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>A92E34E3-7F10-4158-B6F1-CE42AB5D2215</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>Password copied!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>AF33B579-45A2-4E5D-95B5-F2D5F3C0A16E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>116</integer>
				<key>keyword</key>
				<string>pass</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Getting results...</string>
				<key>script</key>
				<string>#
# Alfred Script Filter JSON format
#
# This example demonstrates all fields available for populating results.
#
# For an in-depth explanation, use the (?) help button to the bottom left.
#

python search.py</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>search.py</string>
				<key>subtext</key>
				<string>Get passwords from Keepass</string>
				<key>title</key>
				<string>KeePass</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>0B25B88F-4243-4E75-983B-36D1C96F4E94</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>10</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>0DB6B6DE-5C65-4A52-A4F4-E615C0924FD4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>there used to be a password here...</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>48D4C5D9-06F7-4A3B-8996-530C7CB6ED80</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
	tell application "System Events" to keystroke q
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>001DAD44-BA46-4761-ABD6-9CF450779583</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>Password cleared</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>7E23687E-F87F-4B76-8D93-25489F2D25B7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>pass-set-dblocation</string>
				<key>subtext</key>
				<string>Enter the location of your keepass database</string>
				<key>text</key>
				<string>Set Keepass Database</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>773C1EF6-D4A2-4D97-AB5F-C19BCA82ABED</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/libexec/PlistBuddy -c "Set :variables:dblocation \"{query}\"" info.plist</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>441220A6-FF2C-4489-8559-D61944E50D83</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Note it sometimes takes up to 10 seconds for alfred to notice this change...</string>
				<key>title</key>
				<string>Keepass DB Location Updated</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>C83C8F52-2513-4C3E-895B-790BBDB09745</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>295B8FDB-D596-4CDE-9E4F-0841393BFF91</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}
</string>
				<key>variables</key>
				<dict>
					<key>var:dblocation</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>06161AD2-E5AF-4897-A5C4-F67B97464BAD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>pass-set-password</string>
				<key>subtext</key>
				<string>Update your master password</string>
				<key>text</key>
				<string>Set Keepass Password</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>56D6FA6C-C01B-4F46-A9C7-F5A7221080F9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>updatepass.py</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>26B971E7-1202-4CC4-B7D7-5C70F289F419</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Password stored in keychain</string>
				<key>title</key>
				<string>Keepass master password updated</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>F4C2E16A-9E97-499C-80A5-00664358E3F6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Keepass is an open source password manager format. This application uses kpcli (a command line application) to directly type passwords into your browser.</string>
	<key>uidata</key>
	<dict>
		<key>001DAD44-BA46-4761-ABD6-9CF450779583</key>
		<dict>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>06161AD2-E5AF-4897-A5C4-F67B97464BAD</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>430</integer>
		</dict>
		<key>0B25B88F-4243-4E75-983B-36D1C96F4E94</key>
		<dict>
			<key>note</key>
			<string>XML is still supported for legacy workflows, and has been updated to support the new parameters.</string>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>0DB6B6DE-5C65-4A52-A4F4-E615C0924FD4</key>
		<dict>
			<key>xpos</key>
			<integer>710</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>26B971E7-1202-4CC4-B7D7-5C70F289F419</key>
		<dict>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>540</integer>
		</dict>
		<key>295B8FDB-D596-4CDE-9E4F-0841393BFF91</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>430</integer>
		</dict>
		<key>441220A6-FF2C-4489-8559-D61944E50D83</key>
		<dict>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>400</integer>
		</dict>
		<key>48D4C5D9-06F7-4A3B-8996-530C7CB6ED80</key>
		<dict>
			<key>xpos</key>
			<integer>810</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>56D6FA6C-C01B-4F46-A9C7-F5A7221080F9</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>540</integer>
		</dict>
		<key>773C1EF6-D4A2-4D97-AB5F-C19BCA82ABED</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>400</integer>
		</dict>
		<key>7E23687E-F87F-4B76-8D93-25489F2D25B7</key>
		<dict>
			<key>xpos</key>
			<integer>1050</integer>
			<key>ypos</key>
			<integer>340</integer>
		</dict>
		<key>A92E34E3-7F10-4158-B6F1-CE42AB5D2215</key>
		<dict>
			<key>xpos</key>
			<integer>400</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>AF33B579-45A2-4E5D-95B5-F2D5F3C0A16E</key>
		<dict>
			<key>xpos</key>
			<integer>560</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>C83C8F52-2513-4C3E-895B-790BBDB09745</key>
		<dict>
			<key>xpos</key>
			<integer>720</integer>
			<key>ypos</key>
			<integer>410</integer>
		</dict>
		<key>F4C2E16A-9E97-499C-80A5-00664358E3F6</key>
		<dict>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>540</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>dblocation</key>
		<string>/Users/lkarsai/Documents/thoughtworks.kdbx</string>
		<key>keychain_name</key>
		<string>alfred-keepass-pass</string>
	</dict>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>linusk.com.au</string>
</dict>
</plist>
